:root
{
    --bs-green: #04AA6D;
}

html, body 
{
    font-size: 14pt;
    height: 100%;
}

main
{
    margin: 0;
    background-image: url("../Image/bg_2.jpg");
    background-size: cover;
    /*background-repeat: repeat;*/
    min-height: 0;
}

.div_carousel
{
    background-color: rgba(52, 58, 64, 0.97);
    color: var(--bs-white);
    font-size: 2.5rem;
    border-radius: 5pt;
    border-left: 0.5rem solid var(--bs-white);
    border-right: 0.5rem solid var(--bs-white);
}

#btn_stop
{
    color: var(--bs-white);
    background-color: var(--bs-gray-800);
    border-color: var(--bs-gray-800);
}

#btn_stop:hover
{
    color: var(--bs-white);
    background-color: var(--bs-gray-900);
    border-color: var(--bs-gray-900);
}

#btn_stop:focus
{
    border: 0.15rem solid var(--bs-white);
}

.hors_ecran
{
    position: absolute;
    left: -999999rem;
}

a.evitement {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
 }
 a.evitement:focus {
    left: 0;
 }
